body {
    background-color: rgb(32, 35, 39);
}
.card {
    border: 1px solid #71767A;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    background-color: rgb(32, 35, 39);

}
.card h2 {
    margin-top: 0;
    color: white;
    font-size: 20px;
}
.card p {
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}
.card .author-text {
    color: #71767A;
}
.delete-button {
    color: red;
    cursor: pointer;
    border: 1px solid #71767A;
    border-radius: 5px;
    padding: 4px 6px;
    margin-top: 6px;
    display: inline-block;
}
.delete-button:hover {
    border-color: red;
}