body {
    width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
ol {
    list-style-type: none;
}
.film-heading {
    padding-bottom: 30px;
}
.crawl {
    padding-top: 30px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.load {
    width: 50px;
    height: 50px;
    margin: 50px auto 0;
    border:solid 5px black;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transition: all 0.5s ease-in;
    animation-name:             rotate;
    animation-duration:         1.0s;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}